<div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate> <!-- removes novalidate to form to allow required to work -->
    <!-- tells angular don't give me access to the form html element, instead give me access the javascript object you created -->
        <div class="form-group">
            <label for="content">Content</label>
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    [ngModel]="message?.content"
                    name="content"
                    required>
                    <!-- #input will hold the value entered, ngModel input registered as control of the form-->
        </div>
        <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>